In [ ]:
# pandas 数据以列展示，不同于numpy以行展示
#  series 
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

# 创建
# 1.直接创建
# series 添加索引
sel = Series(data=np.arange(10), index=list('abcde12345'))

print('values:',sel.values,'\n')
print('index:',sel.index,'\n')
print('sel:','\n',sel,'\n')
print('iteriitem:','\n',list(sel.iteritems()),'\n')

# 2.字典转化
dict = {'red':100, 'green':50, 'black': 80, 'blue': 90}
sel = Series(dict)
print(sel)

In [44]:
#  series
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

# 获取
# series 添加索引
sel = Series(data=np.arange(5), index=list('abcde'))

# 1.位置获取
print('location:', sel[4])
# 2.索引获取
print('index:', sel['e'])
#  3.列表获取连续
print('列表获取：',sel[[1,3]])
#  4.切片获取
print('切片获取：',sel['c':'d'])
print('***************************')
print(sel)


# 修改索引
#  重赋值,修改原有series
# sel.index = list('dcbao')
# print('sel:','\n',  sel) 

# reindex 返回新的索引
new_sel = sel.reindex(list('edcba'))
print('new_sel:','\n',new_sel)

print('_______________')
# 删除数据,有返回值，生成新的series
print(sel)
drop_sel = sel.drop(['a','e'])
print(drop)

location: 4
index: 4
列表获取： b    1
d    3
dtype: int32
切片获取： c    2
d    3
dtype: int32
***************************
a    0
b    1
c    2
d    3
e    4
dtype: int32
new_sel:
 e    4
d    3
c    2
b    1
a    0
dtype: int32
_______________
a    0
b    1
c    2
d    3
e    4
dtype: int32
b    1
c    2
d    3
dtype: int32

In [56]:
# 一维数组计算
import pandas as pd
from pandas import Series
import numpy as np

# series 与 数字计算
sl1 = Series([1,2,5,6],['a','b','c','d'])
sl_pl = sl1 + 2
print('sl_pl:','\n',sl_pl)

# series与series计算
# 对应位置索引相同，对应加减乘除，不同索引为NaN
sl2 = Series([2,4,6,8],['a','d','g','d'])
print('ch:','\n',sl1*sl2)

# series 数组过滤
print('filter:','\n',sl1[sl1>2])

# np函数计算
print('np_fun:','\n',np.square(sl1))

sl_pl:
 a    3
b    4
c    7
d    8
dtype: int64
ch:
 a     2.0
b     NaN
c     NaN
d    24.0
d    48.0
g     NaN
dtype: float64
filter:
 c    5
d    6
dtype: int64
np_fun:
 a     1
b     4
c    25
d    36
dtype: int64

In [73]:
#  二维数组介绍
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 直接创建二维数组
dtf = DataFrame(np.random.randint(0,10,(3,4)), index=[1,2,3,], columns=['第一列','第二列','第三列','第四列'])
print(dtf)

#  使用字典创建
dict = {
    '姓名':['张三','李四','王五'],
    '年龄':[10,11,20],
    '性别':['男','女','男']
}
# 字典生成1
dtf_dict = DataFrame(dict,index=[1,2,3])
print(dtf_dict)
# 字典生成2
dtf_dict_from = DataFrame.from_dict(dict)
print(dtf_dict_from)
# 字典value为series, index要求一致,不然向下叠加
dt_series = {
    '姓名':Series(['张三','里斯','王五'],index=['第一个','第二个','第三个']),
    '年龄':Series([11,13,15,16],index=['第一个','第二个','第三个','第四个']),
    '性别':Series(['男','女','女'],index=['第一个','第二个','第三个'])
}

dtf_s = DataFrame.from_dict(dt_series)
print(dtf_s)

   第一列  第二列  第三列  第四列
1    4    3    1    6
2    0    9    9    8
3    0    4    7    9
   姓名  年龄 性别
1  张三  10  男
2  李四  11  女
3  王五  20  男
   姓名  年龄 性别
0  张三  10  男
1  李四  11  女
2  王五  20  男
      姓名  年龄   性别
第一个   张三  11    男
第三个   王五  15    女
第二个   里斯  13    女
第四个  NaN  16  NaN

In [78]:
# 二维常用数组属性
import numpy as np
import pandas
from pandas import Series,DataFrame

#  使用字典创建
dict = {
    '姓名':['张三','李四','王五'],
    '年龄':[10,11,20],
    '性别':['男','女','男']
}
# 字典生成1
dtf_dict = DataFrame(dict,index=[1,2,3])

# 列索引
print(dtf_dict.index.tolist())
# 行索引
print(dtf_dict.columns.tolist())
# 数据类型
print(dtf_dict.dtypes)
# 数据维度
print(dtf_dict.ndim)

# 数据详细信息
print(dtf_dict.info())

# 显示头几行
print(dtf_dict.head(2))
# 显示尾几行
print(dtf_dict.tail(1))

[1, 2, 3]
['姓名', '年龄', '性别']
姓名    object
年龄     int64
性别    object
dtype: object
2
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      3 non-null      object
 1   年龄      3 non-null      int64
 2   性别      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes
None
   姓名  年龄 性别
1  张三  10  男
2  李四  11  女
   姓名  年龄 性别
3  王五  20  男

In [2]:
#  获取数据
import numpy as np
import pandas
from pandas import Series,DataFrame

#  使用字典创建
dict = {
    '姓名':['张三','李四','王五'],
    '年龄':[10,11,20],
    '性别':['男','女','男']
}
# 字典生成1
df = DataFrame(dict)


#  获取数据 df[列索引] 获取多行需要df[[列索引]]
print(df['姓名'])
print(df[['姓名','年龄']])
# 获取数据 df[行切片]
print(df[0:1])

# 获取行列交叉,df[行][列]
print(df[0:1][['姓名','年龄']])

"""
df.loc[行索引,列索引]
df.iloc[行位置,列位置]
"""
print('_____标签索引_____')
print(df.loc[[0,1],['年龄','性别']])

print('_____位置索引_____')
print(df.iloc[1:2,[1,2]])

# pd.inf,pd.nan 和numpy中类似

0    张三
1    李四
2    王五
Name: 姓名, dtype: object
   姓名  年龄
0  张三  10
1  李四  11
2  王五  20
   姓名  年龄 性别
0  张三  10  男
   姓名  年龄
0  张三  10
_____标签索引_____
   年龄 性别
0  10  男
1  11  女
_____位置索引_____
   年龄 性别
1  11  女

In [12]:
# 修改索引

import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(9).reshape(3,3),index = ['b','sh','qz'],columns=['a','b','c'])
print(df)

# 修改df索引

# 赋值修改
df.index = ['1','2','3']
df.columns = ['name','age','sex']
print(df)
# 函数rename修改,可以自定义函数,产生新的
def test_map(x):
    return x+'_A'
df_re = df.rename(index=test_map,columns=test_map)
print(df_re)

# 修改部分
df_resome = df.rename(index={'1':'第一行'})
print(df_resome)

print('_____________________________')
# 列转换为列索引
df = pd.DataFrame({'X':range(5),'Y':range(5,10),'Z':range(5),'W':range(5)})
print(df)
# 设置行索引,有放回,drop=False,不删除原来数据
df_i = df.set_index('Y',drop=False)
print(df_i)

    a  b  c
b   0  1  2
sh  3  4  5
qz  6  7  8
   name  age  sex
1     0    1    2
2     3    4    5
3     6    7    8
     name_A  age_A  sex_A
1_A       0      1      2
2_A       3      4      5
3_A       6      7      8
     name  age  sex
第一行     0    1    2
2       3    4    5
3       6    7    8
_____________________________
   X  Y  Z  W
0  0  5  0  0
1  1  6  1  1
2  2  7  2  2
3  3  8  3  3
4  4  9  4  4
   X  Y  Z  W
Y
5  0  5  0  0
6  1  6  1  1
7  2  7  2  2
8  3  8  3  3
9  4  9  4  4

In [8]:
# 添加数据

import numpy as np
import pandas as pd

df = pd.DataFrame({
    'name':['张三','李四','王五'],
    'age':[11,15,19]
})
print(df)

# 添加一列数据
df['sex'] = ['男','女','男']
print(df)

# 插入一列/行 insert
index_list = df.index.tolist()
index_list.insert(0,'salary')
df_insert = df.reindex(index=index_list)
print(df_insert)

df_insert.iloc[0] = ['玩玩',11,'男']
print(df_insert)

# 添加一行
new = pd.DataFrame({
    'name':['小刘','小张','小炒'],
    'age':[11,34,12],
    'sex':['男','女','女']
})
# ingore_index=False 表示new不安原来索引
df1 = df.append(new,ignore_index=True)

print(df1)

  name  age
0   张三   11
1   李四   15
2   王五   19
  name  age sex
0   张三   11   男
1   李四   15   女
2   王五   19   男
       name   age  sex
salary  NaN   NaN  NaN
0        张三  11.0    男
1        李四  15.0    女
2        王五  19.0    男
       name   age sex
salary   玩玩  11.0   男
0        张三  11.0   男
1        李四  15.0   女
2        王五  19.0   男
  name  age sex
0   张三   11   男
1   李四   15   女
2   王五   19   男
3   小刘   11   男
4   小张   34   女
5   小炒   12   女

In [16]:
# 合并

import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.arange(6).reshape(2,3),columns=['one','two', 'three'])
df2 = pd.DataFrame(np.arange(4).reshape(2,2),columns=['four','five'])
print(df1)
print(df2)

# 按照axis = 0 行合并,ignore_index,忽略原有索引,从新开始
df_a0 = pd.concat([df1,df2],axis=0,ignore_index=True)
print(df_a0)

# 按照axis=1 列合并
df_a1 = pd.concat([df1,df2],axis=1)
print(df_a1)

   one  two  three
0    0    1      2
1    3    4      5
   four  five
0     0     1
1     2     3
   one  two  three  four  five
0  0.0  1.0    2.0   NaN   NaN
1  3.0  4.0    5.0   NaN   NaN
2  NaN  NaN    NaN   0.0   1.0
3  NaN  NaN    NaN   2.0   3.0
   one  two  three  four  five
0    0    1      2     0     1
1    3    4      5     2     3

In [23]:
# 数据处理
# 处理Series
import numpy as np
import pandas as pd

NaN = np.nan
sl = pd.Series([0,NaN,9,10,NaN,12])
print(sl)

# 删除 dropna
print(sl.dropna())
# 空数据
print(sl.isnull())
# 非空数据
print(sl.notnull())

# 通过非空获得
print(sl[sl.notnull()])

0     0.0
1     NaN
2     9.0
3    10.0
4     NaN
5    12.0
dtype: float64
0     0.0
2     9.0
3    10.0
5    12.0
dtype: float64
0    False
1     True
2    False
3    False
4     True
5    False
dtype: bool
0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool
0     0.0
2     9.0
3    10.0
5    12.0
dtype: float64

In [31]:
# 数据处理

# 删除NaN

# 处理DataFrame
import numpy as np
import pandas as pd

NaN = np.nan
df = pd.DataFrame([[0,NaN,9,10,NaN,12],[0,2,NaN,10,NaN,12],[0,NaN,9,10,NaN,NaN]])
print(df)
print('------------')
# 删除数据,dropna删除带所有含有nan的行
print(df.dropna())
# 删除一行全为nan的
print(df.dropna(how='all'))
# 删除一列全为nan
print(df.dropna(axis=1,how='all'))

# 保留至少有thresh=n个值的行
print(df.dropna(thresh=1))

   0    1    2   3   4     5
0  0  NaN  9.0  10 NaN  12.0
1  0  2.0  NaN  10 NaN  12.0
2  0  NaN  9.0  10 NaN   NaN
------------
Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []
   0    1    2   3   4     5
0  0  NaN  9.0  10 NaN  12.0
1  0  2.0  NaN  10 NaN  12.0
2  0  NaN  9.0  10 NaN   NaN
   0    1    2   3     5
0  0  NaN  9.0  10  12.0
1  0  2.0  NaN  10  12.0
2  0  NaN  9.0  10   NaN
   0    1    2   3   4     5
0  0  NaN  9.0  10 NaN  12.0
1  0  2.0  NaN  10 NaN  12.0
2  0  NaN  9.0  10 NaN   NaN

In [43]:
# 填充NaN
import numpy as np
import pandas as pd

NaN = np.nan

df = pd.DataFrame([[0,NaN,9,10,NaN,12],[0,2,NaN,10,NaN,12],[0,NaN,9,10,NaN,NaN]])
print(df)
print('------------')

# 修改原来数据,inplace=True
# df.fillna(100,inplace=True)
# print(df)

# 统一填充
print(df.fillna(0))

# 按列填充
print(df.fillna({0:10,1:20,2:30,3:40,4:50,5:60}))

# 部分填充
print(df.iloc[:,1].fillna(0))

# 填充方式 method = 'ffill'/'bfill' 用列前面,后面填充
print(df.fillna(method='ffill'))

# 限制行列数
print(df.fillna(method='bfill',limit=1))

# 修改填充方向
print(df.fillna(method='ffill',axis=1))

   0    1    2   3   4     5
0  0  NaN  9.0  10 NaN  12.0
1  0  2.0  NaN  10 NaN  12.0
2  0  NaN  9.0  10 NaN   NaN
------------
   0    1    2   3    4     5
0  0  0.0  9.0  10  0.0  12.0
1  0  2.0  0.0  10  0.0  12.0
2  0  0.0  9.0  10  0.0   0.0
   0     1     2   3     4     5
0  0  20.0   9.0  10  50.0  12.0
1  0   2.0  30.0  10  50.0  12.0
2  0  20.0   9.0  10  50.0  60.0
0    0.0
1    2.0
2    0.0
Name: 1, dtype: float64
   0    1    2   3   4     5
0  0  NaN  9.0  10 NaN  12.0
1  0  2.0  9.0  10 NaN  12.0
2  0  2.0  9.0  10 NaN  12.0
   0    1    2   3   4     5
0  0  2.0  9.0  10 NaN  12.0
1  0  2.0  9.0  10 NaN  12.0
2  0  NaN  9.0  10 NaN   NaN
     0    1    2     3     4     5
0  0.0  0.0  9.0  10.0  10.0  12.0
1  0.0  2.0  2.0  10.0  10.0  12.0
2  0.0  0.0  9.0  10.0  10.0  10.0

In [57]:
# 去重复
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'a':[1,1,1,2,2,3,1],
    'b':list('aabbbca')
})
print(df)
# 检测重复行
print(df.duplicated())
# 去除全部重复行
print(df.drop_duplicates())
# 去除指定列重复行
print(df.drop_duplicates(['a']))
# 保留最后一行
print(df.drop_duplicates(['a'],keep='last'))
# 修改原来数据
df.drop_duplicates(['a'],inplace=True)
print(df)

   a  b
0  1  a
1  1  a
2  1  b
3  2  b
4  2  b
5  3  c
6  1  a
0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool
   a  b
0  1  a
2  1  b
3  2  b
5  3  c
   a  b
0  1  a
3  2  b
5  3  c
   a  b
4  2  b
5  3  c
6  1  a
   a  b
0  1  a
3  2  b
5  3  c

In [67]:
# 数据合并,侧重于行的合并
df1 = pd.DataFrame({
    'red':[1,2,5],
    'green':[2,5,6]
},index=list('abc'))

df2 = pd.DataFrame({
    'blue':[2,3,7],
    'black':[2,3,6]
},index=list('cde'))

print(df1)
print(df2)

print('________________')
# 默认使用左连接 how = 'left'
print(df1.join(df2))
# 右合并
print(df1.join(df2,how='right'))
# 外连接
print(df1.join(df2,how='outer'))
# 内连接
print(df1.join(df2,how='inner'))

   red  green
a    1      2
b    2      5
c    5      6
   blue  black
c     2      2
d     3      3
e     7      6
________________
   red  green  blue  black
a    1      2   NaN    NaN
b    2      5   NaN    NaN
c    5      6   2.0    2.0
   red  green  blue  black
c  5.0    6.0     2      2
d  NaN    NaN     3      3
e  NaN    NaN     7      6
   red  green  blue  black
a  1.0    2.0   NaN    NaN
b  2.0    5.0   NaN    NaN
c  5.0    6.0   2.0    2.0
d  NaN    NaN   3.0    3.0
e  NaN    NaN   7.0    6.0
   red  green  blue  black
c    5      6     2      2

In [71]:
# merge 合并,返回二者匹配的,默认使用同名的列作为连接键,使用内连接how='inner'
# 数据合并,侧重于行的合并
df1 = pd.DataFrame({
    'red':[1,2,5],
    'green':[2,5,6]
},index=list('abc'))

df2 = pd.DataFrame({
    'blue':[2,3,7],
    'red':[1,3,6]
},index=list('cde'))

print(df1)
print(df2)

print('______________')
# merge 合并,返回二者匹配的,默认使用同名的列作为连接键,使用内连接how='inner'
print(pd.merge(df1,df2))
# 指定列合并,多个因素on=[]
print(pd.merge(df1,df2, on='red'))
# how='inner'/'outer'/'left'/'right' 内连接,外连接,左连接,右连接
print(pd.merge(df1,df2,how='outer'))

   red  green
a    1      2
b    2      5
c    5      6
   blue  red
c     2    1
d     3    3
e     7    6
______________
   red  green  blue
0    1      2     2
   red  green  blue
0    1      2     2
   red  green  blue
0    1    2.0   2.0
1    2    5.0   NaN
2    5    6.0   NaN
3    3    NaN   3.0
4    6    NaN   7.0

In [83]:
# 多重索引
import numpy as np
import pandas as pd

# 使用index=[][]创建

# 一维数组
se = pd.Series(np.random.randint(0,150,size=6),
               index=[['python','python','math','math','en','en'],
               ['期中','期末','期中','期末','期中','期末']])
print(se)
# 二维数组
df = pd.DataFrame({
    '张三':np.random.randint(0,150,size=6),
    '李四':np.random.randint(0,150,size=6),
    '王五':np.random.randint(0,150,size=6),
},index=[['python','python','math','math','en','en'],
         ['期中','期末','期中','期末','期中','期末']])
print(df)

# 使用构造索引创建,index_a = pd.MultiIndex.from_arrays创建
class_out = ['python','python','math','math','en','en']
class_in = ['期中','期末','期中','期末','期中','期末']

index_a = pd.MultiIndex.from_arrays([class_out,class_in])

df1 = pd.DataFrame({
    '张三':np.random.randint(0,150,size=6),
    '李四':np.random.randint(0,150,size=6),
    '王五':np.random.randint(0,150,size=6),
},index=index_a)
print(df1)

class_o = ['python','math','en']
class_i = ['期中','期末']
index_p = pd.MultiIndex.from_product([class_o,class_i])
df2 = pd.DataFrame({
    '张三':np.random.randint(0,150,size=6),
    '李四':np.random.randint(0,150,size=6),
    '王五':np.random.randint(0,150,size=6),
},index=index_p)
print(df2)

python  期中     52
        期末     61
math    期中     77
        期末    149
en      期中    145
        期末     84
dtype: int32
            张三   李四   王五
python 期中   10   88  136
       期末   28  111   69
math   期中  120  138   94
       期末   51  126   90
en     期中   59  145  113
       期末  128   19   69
            张三   李四   王五
python 期中  124  112  140
       期末   57   82   36
math   期中   67   40   63
       期末  138   10  145
en     期中   38   85   58
       期末  140  133   61
           张三   李四   王五
python 期中  63  110  115
       期末  89   33  101
math   期中  20   65   24
       期末  46    1   91
en     期中  93  146  106
       期末  22   86  148

In [98]:
# 多种索引的获取
# 多重索引
import numpy as np
import pandas as pd

# 使用index=[][]创建

# 一维数组
se = pd.Series(np.random.randint(0,150,size=6),
               index=[['python','python','math','math','en','en'],
               ['期中','期末','期中','期末','期中','期末']])

# 获取外层一个
print(se['python'])
# 获取外出两个
print(se[['python','en']])

# 获取一个
#1.内外层索引获取 
print(se['python','期中'])
# 2.loc获取
print(se['python','期中'])
# 3.iloc获取,iloc获取数据,是最内层索引
print(se[0:3])
print('______________________')
# df获取类似
# 二维数组
df = pd.DataFrame({
    '张三':np.random.randint(0,150,size=6),
    '李四':np.random.randint(0,150,size=6),
    '王五':np.random.randint(0,150,size=6),
},index=[['python','python','math','math','en','en'],
         ['期中','期末','期中','期末','期中','期末']])
# print('df:',df)

# 获取一列
print(df['张三'])
# 获取一行
print(df.loc['python','期中'])
# iloc最内层索引
print(df.iloc[0,:])

期中    101
期末     89
dtype: int32
python  期中    101
        期末     89
en      期中     84
        期末     82
dtype: int32
101
101
python  期中    101
        期末     89
math    期中     76
dtype: int32
______________________
python  期中     78
        期末    142
math    期中     44
        期末     92
en      期中    119
        期末     17
Name: 张三, dtype: int32
张三    78
李四    16
王五    60
Name: (python, 期中), dtype: int32
张三    78
李四    16
王五    60
Name: (python, 期中), dtype: int32

In [13]:
# 时间序列
"""
D      日历日的每一天
B      工作日的每一天
H      每小时
T或min 每分钟
S      每秒
L或ms  每毫秒
U      每微秒
M      日历日的月底日期
BM     工作日的月底日期
MS     日历日的月初日期
BMS    工作日的月初日期
"""
import pandas as pd
import numpy as np

# 产生时间序列,start=时间,end=时间 默认freq='D', freq='1h20min',freq='10D'
date = pd.date_range(start='20190501',end='20190530')
print(date)
# 产生时间序列,start=时间,periods=n产生n次,freq=间隔,编号
date = pd.date_range(start='20200331',periods=1000,freq='2D')

# 时间序列获取[]
se = pd.Series(np.random.randint(0,100),index=date)
print(se)
# 通过年份获取
print(se['2021'])
# 通过月份获取
print(se['2021-4'])
# 通过日切片获取
print(se['2021-04-02':'2022-02-03'])

DatetimeIndex(['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04',
               '2019-05-05', '2019-05-06', '2019-05-07', '2019-05-08',
               '2019-05-09', '2019-05-10', '2019-05-11', '2019-05-12',
               '2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16',
               '2019-05-17', '2019-05-18', '2019-05-19', '2019-05-20',
               '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24',
               '2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30'],
              dtype='datetime64[ns]', freq='D')
2020-03-31    49
2020-04-02    49
2020-04-04    49
2020-04-06    49
2020-04-08    49
              ..
2025-09-11    49
2025-09-13    49
2025-09-15    49
2025-09-17    49
2025-09-19    49
Freq: 2D, Length: 1000, dtype: int64
2021-01-01    49
2021-01-03    49
2021-01-05    49
2021-01-07    49
2021-01-09    49
              ..
2021-12-23    49
2021-12-25    49
2021-12-27    49
2021-12-29    49
2021-12-31    49
Freq: 2D, Length: 183, dtype: int64
2021-04-01    49
2021-04-03    49
2021-04-05    49
2021-04-07    49
2021-04-09    49
2021-04-11    49
2021-04-13    49
2021-04-15    49
2021-04-17    49
2021-04-19    49
2021-04-21    49
2021-04-23    49
2021-04-25    49
2021-04-27    49
2021-04-29    49
Freq: 2D, dtype: int64
2021-04-03    49
2021-04-05    49
2021-04-07    49
2021-04-09    49
2021-04-11    49
              ..
2022-01-26    49
2022-01-28    49
2022-01-30    49
2022-02-01    49
2022-02-03    49
Freq: 2D, Length: 154, dtype: int64

In [1]:
# se.between_time()获取
import pandas as pd
import numpy as np

date = pd.date_range(start='2020-03-10',periods=100,freq='2H')
se = pd.Series(np.random.randn(100),index=date)
print(se)
print(se.between_time('7:00','12:00'))

# 时间索引同样使用DataFrame
df = pd.DataFrame(np.random.randn(100,4),index=date)
print(df)

print('__________________________')
print(df.loc['2020-03-10'])

2020-03-10 00:00:00   -1.415487
2020-03-10 02:00:00    1.438286
2020-03-10 04:00:00   -0.336673
2020-03-10 06:00:00   -0.499901
2020-03-10 08:00:00   -0.407337
                         ...
2020-03-17 22:00:00   -1.409024
2020-03-18 00:00:00   -0.493638
2020-03-18 02:00:00   -0.915048
2020-03-18 04:00:00   -1.914364
2020-03-18 06:00:00    1.099942
Freq: 2H, Length: 100, dtype: float64
2020-03-10 08:00:00   -0.407337
2020-03-10 10:00:00   -1.737117
2020-03-10 12:00:00   -2.321687
2020-03-11 08:00:00    0.340977
2020-03-11 10:00:00   -0.858223
2020-03-11 12:00:00    1.046653
2020-03-12 08:00:00    0.207624
2020-03-12 10:00:00   -2.171161
2020-03-12 12:00:00   -0.728005
2020-03-13 08:00:00   -1.601332
2020-03-13 10:00:00    1.071745
2020-03-13 12:00:00   -0.449959
2020-03-14 08:00:00   -0.006702
2020-03-14 10:00:00   -2.025521
2020-03-14 12:00:00   -1.184593
2020-03-15 08:00:00    1.860730
2020-03-15 10:00:00    0.530069
2020-03-15 12:00:00   -0.683436
2020-03-16 08:00:00    0.695728
2020-03-16 10:00:00   -1.461098
2020-03-16 12:00:00    0.534200
2020-03-17 08:00:00   -1.039931
2020-03-17 10:00:00   -0.226121
2020-03-17 12:00:00   -0.463751
dtype: float64
                            0         1         2         3
2020-03-10 00:00:00 -0.165201 -1.899861 -1.362632 -0.675791
2020-03-10 02:00:00 -0.920907  1.596396 -0.013617 -0.529274
2020-03-10 04:00:00  1.187580 -0.194146 -2.045112 -0.967498
2020-03-10 06:00:00  0.680844 -0.245419  0.672539  0.002357
2020-03-10 08:00:00 -0.442918  0.097531 -0.104085 -1.604266
...                       ...       ...       ...       ...
2020-03-17 22:00:00  2.422327 -0.589321 -0.534252 -0.282583
2020-03-18 00:00:00 -0.024374  0.609487  0.828633 -1.050623
2020-03-18 02:00:00  2.309771 -0.922491  0.008116 -0.408604
2020-03-18 04:00:00  1.510404  0.003801 -0.658686 -0.627705
2020-03-18 06:00:00  1.123195  1.162539  0.764831 -0.562519

[100 rows x 4 columns]
__________________________
                            0         1         2         3
2020-03-10 00:00:00 -0.165201 -1.899861 -1.362632 -0.675791
2020-03-10 02:00:00 -0.920907  1.596396 -0.013617 -0.529274
2020-03-10 04:00:00  1.187580 -0.194146 -2.045112 -0.967498
2020-03-10 06:00:00  0.680844 -0.245419  0.672539  0.002357
2020-03-10 08:00:00 -0.442918  0.097531 -0.104085 -1.604266
2020-03-10 10:00:00  0.982645  0.611935 -0.814695  1.689810
2020-03-10 12:00:00  0.223647 -1.046177  1.527426  0.116898
2020-03-10 14:00:00 -0.559118  0.522392  0.984546 -0.087558
2020-03-10 16:00:00 -0.399688  1.440714  0.886663 -1.413891
2020-03-10 18:00:00  0.029540 -0.182665  1.386512  0.930472
2020-03-10 20:00:00 -0.987965 -1.713456  1.860050 -0.703388
2020-03-10 22:00:00  0.028153 -0.206007  0.369057 -0.202063

In [2]:
# 分组聚合
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'name':['BOSS','Lilei','Linei','Lilei','BOSS','Han','Zhanjj','Zhanqi'],
    'age':[2016,2016,2016,2016,2017,2017,2017,2017],
    'Salary':np.random.randn(8),
    'Bonus':[10000,20000,20000,5000,20000,30000,3000,40000]
})

# print(df)

# 根据name分组
group_by_name = df.groupby('name')
print(type(group_by_name))

# 查看分组
print(group_by_name.groups)

# 查看分组后的数量
print(group_by_name.count())

# 查看分组的情况
for name,group in group_by_name:
    print('组的名称:',name)
    print(group)
    
print('___________________')    
# 根据组的名称获取
print(group_by_name.get_group('BOSS'))

# 只获取一列
group_by_many = df['age'].groupby(df['name'])
print(group_by_many.count())

# 多重分组
group_by_name_age = df.groupby(['name','age'])
print(group_by_name_age.count())

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
{'BOSS': Int64Index([0, 4], dtype='int64'), 'Han': Int64Index([5], dtype='int64'), 'Lilei': Int64Index([1, 3], dtype='int64'), 'Linei': Int64Index([2], dtype='int64'), 'Zhanjj': Int64Index([6], dtype='int64'), 'Zhanqi': Int64Index([7], dtype='int64')}
        age  Salary  Bonus
name
BOSS      2       2      2
Han       1       1      1
Lilei     2       2      2
Linei     1       1      1
Zhanjj    1       1      1
Zhanqi    1       1      1
组的名称: BOSS
   name   age    Salary  Bonus
0  BOSS  2016 -0.947764  10000
4  BOSS  2017  0.913807  20000
组的名称: Han
  name   age    Salary  Bonus
5  Han  2017  0.741006  30000
组的名称: Lilei
    name   age    Salary  Bonus
1  Lilei  2016 -1.209363  20000
3  Lilei  2016  1.174184   5000
组的名称: Linei
    name   age    Salary  Bonus
2  Linei  2016  0.073752  20000
组的名称: Zhanjj
     name   age   Salary  Bonus
6  Zhanjj  2017  0.75266   3000
组的名称: Zhanqi
     name   age    Salary  Bonus
7  Zhanqi  2017  0.132989  40000
___________________
   name   age    Salary  Bonus
0  BOSS  2016 -0.947764  10000
4  BOSS  2017  0.913807  20000
name
BOSS      2
Han       1
Lilei     2
Linei     1
Zhanjj    1
Zhanqi    1
Name: age, dtype: int64
             Salary  Bonus
name   age
BOSS   2016       1      1
       2017       1      1
Han    2017       1      1
Lilei  2016       2      2
Linei  2016       1      1
Zhanjj 2017       1      1
Zhanqi 2017       1      1

In [9]:
# 聚合函数

df = pd.DataFrame({
    'Data1':np.random.randint(0,10,5),
    'Data2':np.random.randint(10,20,5),
    'key1':list('aabba'),
    'key2':list('xyyxy')
})
print(df)
# 进行分组,只要不是数值类型的列,会自动不计入
print(df.groupby('key1').sum())
# 只需一个数据
# 先获取一列数据,再分组,计算
print(df['Data1'].groupby(df['key1']).sum())
# 先分组,取一列数据,计算
print(df.groupby('key1')['Data2'].sum())

print('____________________')
print(df.groupby('key2').mean())

   Data1  Data2 key1 key2
0      9     10    a    x
1      8     19    a    y
2      3     11    b    y
3      0     14    b    x
4      3     19    a    y
      Data1  Data2
key1
a        20     48
b         3     25
key1
a    20
b     3
Name: Data1, dtype: int32
key1
a    48
b    25
Name: Data2, dtype: int32
____________________
         Data1      Data2
key2
x     4.500000  12.000000
y     4.666667  16.333333

In [16]:
# 使用agg([函数名,函数名2,……])

df = pd.DataFrame({
    'Data1':np.random.randint(0,10,5),
    'Data2':np.random.randint(10,20,5),
    'key1':list('aabba'),
    'key2':list('xyyxy')
})

print(df.groupby('key2').agg(['sum','mean','std']))

# 可以自定义函数,传入agg(fun),改函数名称agg(('自定义函数名',原有函数名))
def peak_range(df):
    return df.max() - df.min()
print('自定义函数')
print(df.groupby('key2').agg([('范围',peak_range),'count']))

     Data1                     Data2
       sum      mean       std   sum       mean       std
key2
x       11  5.500000  2.121320    25  12.500000  0.707107
y       16  5.333333  4.041452    50  16.666667  2.516611
自定义函数
     Data1       Data2
        范围 count    范围 count
key2
x        3     2     1     2
y        8     3     5     3

In [25]:
# 扩展apply函数,apply是pandas中自由度最高的函数

df = pd.DataFrame({
    'sex':list('FFMFMMF'),
    'smoker':list('YNYNYNY'),
    'age':[21,30,17,37,30,18,26],
    'weight':[120,130,110,130,131,121,123]
})

print(df)

def bin_age(age):
    if age > 18:
        return 1
    else:
        return 0
    
#  抽烟人数大于18的
print(df['age'].apply(bin_age))

df['age'] = df['age'].apply(bin_age)

print(df)

# 取出抽烟和不抽烟体重的前二
def top(smoker,col,n=5):
    return smoker.sort_values(by=col)[-n:]

df.groupby('smoker').apply(top,col='weight',n=2)

  sex smoker  age  weight
0   F      Y   21     120
1   F      N   30     130
2   M      Y   17     110
3   F      N   37     130
4   M      Y   30     131
5   M      N   18     121
6   F      Y   26     123
0    1
1    1
2    0
3    1
4    1
5    0
6    1
Name: age, dtype: int64
  sex smoker  age  weight
0   F      Y    1     120
1   F      N    1     130
2   M      Y    0     110
3   F      N    1     130
4   M      Y    1     131
5   M      N    0     121
6   F      Y    1     123

         sex smoker  age  weight
smoker
N      1   F      N    1     130
       3   F      N    1     130
Y      6   F      Y    1     123
       4   M      Y    1     131

In [27]:
# 创建excel
# 1.使用to_excel 创建excel
import pandas as pd

df = pd.DataFrame({
    'id':[1,2,3],
    'name':['zs','ls','ww']
})

# 默认会有索引,讲ID色湖之成为索引,会返回一个新的df,如果想要再原来的df上修改需要添加参数inplace=True
df = df.set_index('id')
df.to_excel('./output.xlsx')
print('end')

end

In [35]:
# 读取文件
import pandas as pd
# df = pd.read_excel('./output.xlsx')
# print(df.shape)

# print(df)
# 指定数据表
pd.read_excel('文件全路径.xlsx',sheet_name='指定表名')

# 读取的时候,默认会将第一行作为列名,用header=n,n行作为列索引修改
# pd.read_excel('./output.xlsx', header=0)
# 使用index_col='行索引'

# 设置header=None,会使用默认01234
pd.read_excel('./output.xlsx',header=None)

# read_excel(其他参数)
# skiprows=n 跳过n行
# usecols 使用那几行(Excel中的ABCD……)
# df = pd.read_excel('文件名',skiprows=1,usercols='C:F')
# 自动填充数据

    0     1
0  id  name
1   1    zs
2   2    ls
3   3    ww

In [ ]:
# 自动填充内容
"""at和iat函数只能选择某个位置的值,iat是按照行索引和列索引的位置来选取数的,而at是按照行索引和列索引来选取位置数据,loc和iloc的函数包含at和iat函数的功能"""
# 修改数据类型
# book['id'] = book['id'].astype(int)

# 添加交替值
# for i in book.index:
#     book['id'].at(i) = 'yes' if i%2 ==0 else 'no'

In [ ]:
pandas 链接到数据库

import pandas as pd
import pymysql

con = pymysql.connect(
    host='',
    user='',
    passwd='',
    db='',
    port='',
    charset='')